
#include "hipacc.hpp"
#include "hipacc_helper.hpp"

using namespace hipacc;
using namespace hipacc::math;

@@@KERNEL_DEFINITIONS@@@

int main(int argc, const char **argv)
{
@@@IMAGE_DEFINITIONS@@@


@@@KERNEL_CALLS@@@


    return EXIT_SUCCESS;
}
