{
    @@@DEFINITIONS@@@
    for(int y_matrix = 0; y_matrix < @@@HEIGHT@@@; y_matrix++)
    {
       for (int x_matrix = 0; x_matrix < @@@WIDTH@@@; x_matrix++)
       {
           int xy_matrix_flat = y_matrix * @@@WIDTH@@@ + x_matrix;
           @@@CODE@@@
       }
    }
}
